{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/"> 首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Theme/index?page={$cond.page ?? 1}"> 主题库</a></li>
            <li>编辑</li>
        </ul>
        <div class="form-wrapper">
            <form class="form-horizontal" method="post">
                <input type="hidden" name="id" value="{$data.t1_id}"/>
                <div class="form-group {$errors.t1_id ?= 'has-error'}">
                    <label for="t1_id" class="col-sm-2 control-label">一级主题：</label>
                    <div class="col-sm-4">
                        <select name="t1_id" class="form-control" style="width:200px" id="t1_id"
                                onchange="getT2ByT1()">
                            <option value="-1" selected="selected">--请选择--</option>
                            {foreach name="list1" item="model" key="k"}
                            <option value="{$model.t1_id}">{$model.t1_name}</option>
                            {/foreach}
                        </select>
                        <span class="help-block">{$errors.t1_id ??''}</span>
                    </div>
                </div>
                <div class="form-group {$errors.t2_id ?= 'has-error'}">
                    <label for="t2_id" class="col-sm-2 control-label">二级主题：</label>
                    <div class="col-sm-4">
                        <select name="t2_id" class="form-control" style="width:200px" id="t2_id">
                            <option value="-1">--请选择--</option>
                            {foreach name="list2" item="model" key="k"}
                            <option value="{$model.t2_id}">{$model.t2_name}</option>
                            {/foreach}
                        </select>
                        <span class="help-block">{$errors.t2_id ?? ''}</span>
                    </div>
                </div>
                <div class="form-group {$errors.t3_name ?= 'has-error'}">
                    <label for="t3_name" class="col-sm-2 control-label">三级主题：</label>
                    <div class="col-sm-4">
                        <input name="t3_name" type="text" class="form-control" id="t3_name" value="{$data.t3_name??''}">
                        <span class="help-block">{$errors.t3_name??''}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <button type="submit" class="btn btn-success">保存</button>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                        <a id="form-delete" class="btn btn-default">删除</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/popup_warn" /}
{include file="Common/popup_edit" /}
{include file="Common/bottom" /}
<script>
    $('#t1_id').val('{$data.t1_id ?? -1}');
    $('#t2_id').val('{$data.t2_id ?? -1}');
    $('#tax-nav-warehouse').addClass('open active');
    $('#tax-nav-warehouse-sub2').addClass('active');
    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/Theme/index?page={$cond.page ?? 1}';
    });
    popupEdit({
        id:'{$data.id}',
        list:'__PRO_PATH__/Theme/index',
        remove:'__PRO_PATH__/Theme/remove'
    });

    // 根据一级主题获取二级主题
    function getT2ByT1(){
        var id = parseInt($('#t1_id').val());
        $.get('__PRO_PATH__/Theme/getT2ByT1AJAX', {'t1_id': id}, function (res) {
            if (res.errorcode == 0) {
                addT2('t2_id', res.data);
            } else {
                popWarn(res.msg);
            }
        });
    }

    // 在checkbox内添加二级主题
    function addT2(id, data) {
        var obj = $('#' + id);
        obj.find("option").not(":first").remove();
        for (var i = 0; i < data.length; i++) {
            var option = $("<option>").val(data[i]['t2_id']).text(data[i]['t2_name']);
            obj.append(option);
        }
    }
</script>
