{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/"> 首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/WebSite/index"> 网站库</a></li>
            <li>新建标签</li>
        </ul>
        <div class="form-wrapper">
            <form class="form-horizontal" method="post">
                <div class="form-group {$errors.name ?= 'has-error'}">
                    <label for="form-name" class="col-sm-2 control-label">网站标签：</label>
                    <div class="col-sm-4">
                        <input name="name" type="text" class="form-control" id="form-name" value="{$data.name??''}">
                        <span class="help-block">{$errors.name??''}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <button type="submit" class="btn btn-success">保存</button>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                        <!-- <a id="form-delete" class="btn btn-default">删除</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /main-container -->
<script>
    $('#tax-nav-warehouse').addClass('open active');
    $('#tax-nav-warehouse-sub3').addClass('active');
    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/WebSite/index';
    });
</script>
{include file="Common/bottom" /}
