{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<script src="__PUBLIC__/js/multiple-select/multiple-select.js"></script>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/"> 首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Task/index"> 采集管理</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Task/index"> 采集项目</a></li>
            <li>新建</li>
        </ul>
        <div class="form-wrapper">
            <form class="form-horizontal" method="post" id="new-task-form">
                <div class="form-group {$errors.loop ?= 'has-error'}">
                    <label for="new-task-form-loop" class="col-sm-2 control-label">爬取周期</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="new-task-form-loop" name="loop">
                            <option value="-1">--请选择--</option>
                            <option value="0">每天</option>
                            <option value="1">每周</option>
                            <option value="2">每月</option>
                        </select>
                        <p class="help-block">{$errors.loop??''}</p>
                    </div>
                </div>

                <div class="form-group {$errors.theme ?= 'has-error'}">
                    <label for="new-task-form-theme" class="col-sm-2 control-label">爬取主题</label>
                    <div class="col-sm-4">
                        <select multiple="multiple" class="multiple" id="new-task-form-theme" name="theme">
                            {foreach name="theme_list" item="t1"}
                            <optgroup label="{$t1.t1_name}">
                                {foreach name="t1['t1_content']" item="t2"}
                                <option value="{$t2.t2_id}">{$t2.t2_name}</option>
                                {/foreach}
                            </optgroup>
                            {/foreach}
                        </select>
                        <p class="help-block">{$errors.theme??''}</p>
                    </div>
                </div>

                <div class="form-group {$errors.website ?= 'has-error'}">
                    <label for="new-task-form-web" class="col-sm-2 control-label">爬取网站</label>
                    <div class="col-sm-4">
                        <select multiple="multiple" class="multiple" id="new-task-form-web" name="website">
                            {foreach name="website_list" item="website"}
                            <option value="{$website.type_id}">{$website.type_name}</option>
                            {/foreach}
                        </select>
                        <p class="help-block">{$errors.website??''}</p>
                    </div>
                </div>

                <div class="form-group {$errors.begintime ?= 'has-error'}">
                    <label for="new-task-form-stime" class="col-sm-2 control-label">开始时间</label>
                    <div class="col-sm-4">
                        <input id="new-task-form-stime" name="begintime_str" data-enable-time=true data-time_24hr=true class="form-control flatpickr">
                        <p class="help-block">{$errors.begintime??''}</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <a class="btn btn-success" id="new-task-form-save">保存</a>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/bottom" /}
<script>
    $('#tax-nav-task').addClass('active open');
    $('#tax-nav-task-sub1').addClass('active');
    $(".multiple").multipleSelect({
        filter: true,
        multiple: true,
        selectAll: true
    });

    $(function () {
        $("#new-task-form-theme").multipleSelect("checkAll");
        $("#new-task-form-web").multipleSelect("checkAll");
    });

    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/Task/index';
    });

    $('#new-task-form-save').on('click', function(){
        $('#new-task-form .form-group').removeClass('has-error');
        $('#new-task-form .help-block').html('');
        var params = {};
        params['theme'] = [];
        params['website'] = [];
        var data = $('#new-task-form').serializeArray();
        console.log(JSON.stringify(data));
        $.each(data, function() {
            if(this.name == 'theme' || this.name == 'website'){
                params[this.name].push(this.value);
            }
            else{
                params[this.name] = this.value;
            }
        });
        console.log(JSON.stringify(params));
        $.post('__PRO_PATH__/Task/create', params, function(res){
            if(res.code == 1){
                popWarn('新建成功');
                window.location.href = '__PRO_PATH__/Task/index';
            }else if(res.code == 2){
                $.each(res.errors, function(k, v){
                    if(k == 'begintime' || k == 'endtime') k += '_str';
                    var obj = k == 'all' ? $('#new-task-form-all') : $('#new-task-form [name="'+k+'"]');
                    obj.siblings('.help-block').html(v);
                    obj.parent().addClass('has-error');
                });
            }
        });
    });

    $(".flatpickr").flatpickr({time_24hr:true});
</script>
