<footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger" id="time">正在获取系统时间...</strong>
				</span>
    <p class="no-margin pull-right">
        &copy; 2017 <strong>常州地税局互联网涉税数据采集分析平台</strong>. ALL Rights Reserved.
    </p>
</footer>
</div><!-- /wrapper -->

<a href="javascript:;" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
</body>
</html>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!-- Flot -->
<script src='__PUBLIC__/js/jquery.flot.min.js'></script>

<!-- Slimscroll -->
<script src='__PUBLIC__/js/jquery.slimscroll.min.js'></script>

<!-- Morris -->
<script src='__PUBLIC__/js/rapheal.min.js'></script>
<script src='__PUBLIC__/js/morris.min.js'></script>

<!-- Datepicker -->
<script src='__PUBLIC__/js/uncompressed/datepicker.js'></script>

<!-- Sparkline -->
<script src='__PUBLIC__/js/sparkline.min.js'></script>

<!-- Skycons -->
<script src='__PUBLIC__/js/uncompressed/skycons.js'></script>

<!-- Popup Overlay -->
<script src='__PUBLIC__/js/jquery.popupoverlay.min.js'></script>

<!-- Easy Pie Chart -->
<script src='__PUBLIC__/js/jquery.easypiechart.min.js'></script>

<!-- Sortable -->
<script src='__PUBLIC__/js/uncompressed/jquery.sortable.js'></script>

<!-- Owl Carousel -->
<script src='__PUBLIC__/js/owl.carousel.min.js'></script>

<!-- Modernizr -->
<script src='__PUBLIC__/js/modernizr.min.js'></script>

<!-- Echarts -->
<script src="__PUBLIC__/js/Echarts/echarts.js"></script>

<!-- Simplify -->
<script src="__PUBLIC__/js/simplify/simplify.js"></script>
{include file="Common/popup_warn" /}
<!-- show time -->
<script>
    function startTime() {
        var today = new Date();//定义日期对象
        var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年
        var MM = today.getMonth() + 1;//通过日期对象的getMonth()方法返回年
        var dd = today.getDate();//通过日期对象的getDate()方法返回年
        var hh = today.getHours();//通过日期对象的getHours方法返回小时
        var mm = today.getMinutes();//通过日期对象的getMinutes方法返回分钟
        var ss = today.getSeconds();//通过日期对象的getSeconds方法返回秒
        // 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
        hh = checkTime(hh);
        MM = checkTime(MM);
        dd = checkTime(dd);
        mm = checkTime(mm);
        ss = checkTime(ss);
        var day; //用于保存星期（getDay()方法得到星期编号）
        if (today.getDay() == 0)   day = "星期日 ";
        if (today.getDay() == 1)   day = "星期一 ";
        if (today.getDay() == 2)   day = "星期二 ";
        if (today.getDay() == 3)   day = "星期三 ";
        if (today.getDay() == 4)   day = "星期四 ";
        if (today.getDay() == 5)   day = "星期五 ";
        if (today.getDay() == 6)   day = "星期六 ";
        document.getElementById('time').innerHTML = hh + ":" + mm + ":" + ss + "  " + yyyy + "-" + MM + "-" + dd + " " + day;
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
    setInterval(startTime, 1000);//每一秒中重新加载startTime()方法

    $('.logout').on('click', function () {
        $.get('__PRO_PATH__/UserAdmin/dologout', {}, function (res) {
            if (res.errorcode == 0) {
                window.location.href = '__PRO_PATH__/UserAdmin/login';
            } else {
                popWarn(res.msg);
            }
        });
    });
    $('#clearCache').on('click', function () {
        $.get('__PRO_PATH__/Index/clearcache', function (res) {
            if (res.errorcode == 0) {
                popWarn('清空缓存成功');
            } else {
                popWarn('清空缓存失败');
            }
        });
    });
    $('#logout').on('click', function () {
        $.get('__PRO_PATH__/UserAdmin/dologout', {}, function (res) {
            if (res.errorcode == 0) {
                window.location.href = '__PRO_PATH__/UserAdmin/login';
            } else {
                popWarn(res.msg);
            }
        });
    });
    
    $('#searchToggle').on('click', function () {
        $('#searchDiv').toggle({transition: 'all 0.3s'});
    });

    $('.contact').on('click', function () {
        popWarn('请联系管理员：Admin <br/><br/> 联系方式：1234567890');
    })
</script>